@model scoreGr03.Models.Joueur

@{
    ViewData["Title"] = "Détail D'Un Joueur ";
}

<h1>Détail D'Un Joueur </h1>

<div>
    <h4>Joueur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equipe.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Retour au listes</a>
</div>
