@model scoreGr03.Models.Match

@{
    ViewData["Title"] = "Détails D'Un Matchs";
}

<h1>Détails D'Un Match </h1>

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateHeure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateHeure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreDomicile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScoreDomicile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreExterieur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScoreExterieur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipeDomicile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipeDomicile.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipeExterieur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipeExterieur.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Modifier</a> |
    <a asp-action="Index">Retour au listes</a>
</div>
